<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">
    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    <div id="starting">
        <div class="container">
            <div class="row">
                <iframe width="490" height="307" style = "margin: 50px auto;" src="https://www.youtube.com/embed/I-tboYkOFho" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="row">
                <h1>Comments
                    <button class="btn btn-primary" data-toggle="modal" data-target='#addCommentModal'>Add Comment</button>
                </h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="comment in comments">
                            <th scope="row">${Comment.comment_id}</th>
                            <td>${Comment.comment_body}</td>
                            <td>
                                <button class="btn btn-info" v-on:click="getComment(comment.comment_id)">Edit</button>
                                <button class="btn btn-danger" v-on:click="deleteComment(comment.comment_id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Add Comment Modal -->
                <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">ADD COMMENT</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form v-on:submit.prevent="addComment()">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="comment_heading">Comment Heading</label>
                                        <input type="text" class="form-control" id="comment_heading" placeholder="Enter Comment Heading" v-model="newComment.comment_heading" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="comment_body">Comment Body</label>
                                        <textarea class="form-control" id="comment_body" placeholder="Enter Comment Body" v-model="newComment.comment_body" required="required" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="loading" v-if="loading===true">Loading&#8230;</div>
                </div>
                <!-- End of comment modal -->
                <!-- Edit Comment Modal -->
                <div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">EDIT COMMENT</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form v-on:submit.prevent="updateComment()">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="comment_heading">Comment Heading</label>
                                        <input type="text" class="form-control" id="comment_heading" placeholder="Enter Comment Heading" v-model="currentComment.comment_heading" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="comment_body">Comment Body</label>
                                        <textarea class="form-control" id="comment_body" placeholder="Enter Comment Body" v-model="currentComment.comment_body" required="required" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="loading" v-if="loading===true">Loading&#8230;</div>
                </div>
                <!-- End of edit comment modal -->
            </div>
        </div>
        <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script type="text/javascript">
        Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        new Vue({
            el: '#starting',
            delimiters: ['${', '}'],
            data: {
                comments: [],
                loading: true,
                currentComment: {},
                message: null,
                newComment: {
                    'comment_heading': null,
                    'comment_body': null
                },
                search_term: '',
            },
            mounted: function() {
                this.getComments();
            },
            methods: {
                getComments: function() {
                    let api_url = '/api/comment/';
                    if (this.search_term !== '' || this.search_term !== null) {
                        api_url = `/api/comment/?search=${this.search_term}`
                    }
                    this.loading = true;
                    this.$http.get(api_url)
                        .then((response) => {
                            this.comments = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                getComment: function(id) {
                    this.loading = true;
                    this.$http.get(`/api/comment/${id}/`)
                        .then((response) => {
                            this.currentComment = response.data;
                            $("#editCommentModal").modal('show');
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                addComment: function() {
                    this.loading = true;
                    this.$http.post('/api/comment/', this.newComment)
                        .then((response) => {
                            this.loading = true;
                            this.getComments();
                        })
                        .catch((err) => {
                            this.loading = true;
                            console.log(err);
                        })
                },
                updateComment: function() {
                    this.loading = true;
                    this.$http.put(`/api/comment/${this.currentComment.comment_id}/`, this.currentComment)
                        .then((response) => {
                            this.loading = false;
                            this.currentComment = response.data;
                            this.getComments();
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                deleteComment: function(id) {
                    this.loading = true;
                    this.$http.delete(`/api/comment/${id}/`)
                        .then((response) => {
                            this.loading = false;
                            this.getComments();
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                }
            }
        });
    </script>
</body>

</html>
