<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Music Collaboration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">
    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    <div style="padding: 150px 0;">
        <div class="container">
            <div class="row">
                <img src="http://clipart-library.com/images/pTq8ozrGc.jpg" style="margin: 0 auto 30px" width="100" height="200">
            </div>
            <div class="row text-center">
                <form action="mozart" id="login-form" style="margin: 0 auto;">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Retype Password" required />
                    </div>
                    <div class="form-group">
                        <label>Select a Language</label>
                        <select style="margin-left: 20px;" class="btn btn-secondary">
                            <option>English</option>
                            <option>Portuguese</option>
                        </select>
                    </div>
                    <div style="margin: 30px 0;">
                        <input type="submit" class="btn btn-primary" style="" value="Sign Up" />
                    </div>
                    <a href="/">Have an account? Login here</a>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
</body>

</html>